/* All imports */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White-primary: hsl(0, 0%, 100%);
  --Light-gray-neutral: hsl(0, 0%, 81%);
  --Light-grayish-blue-neutral: hsl(210, 46%, 95%);
  --font-family-body: "Barlow Semi Condensed", sans-serif;
  --font-body: 13px;
  --font-500: 500;
  --font-600: 600;
}

html,
body {
  background: var(--Light-grayish-blue-neutral);
  font-size: var(--font-body);
  font-family: var(--font-family-body);
  margin-block: 20px;
}

/* mobile styles */
.testimonials-section-wrapper {
  max-width: 1400px;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* === shared styles start === */
.card {
  border-radius: 0.5rem;
}

.testimonials-main-top-left,
.testimonials-main-top-right,
.testimonials-main-bottom-left,
.testimonials-main-bottom-right,
.testimonial-side {
  padding: 2rem;
}

.testimonial-author {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-author .author-avatar {
  width: 60px;
  height: 60px;
  z-index: 9;
}

.testimonial-author .author-avatar img {
  border-radius: 50%;
  object-fit: contain;
}

.testimonial-author .author-info .author-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.testimonial-author .author-info .author-verified {
  font-size: 1.1rem;
}

.testimonials-main-top-left,
.testimonials-main-top-right,
.testimonials-main-bottom-left,
.testimonials-main-bottom-right,
.testimonial-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* ==== shared styles end ==== */

.testimonials-section-wrapper .testimonials-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main .testimonials-main-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main-top-left {
  position: relative;
  background: var(--Moderate-violet);
}

.testimonials-main-top-left .testimonial-author .author-avatar img {
  border: 2.5px solid var(--Light-gray-neutral);
}

.testimonials-main-top-left .testimonial-author .author-info,
.testimonials-main-top-right .testimonial-author .author-info,
.testimonials-main-bottom-right .testimonial-author .author-info {
  color: var(--Light-grayish-blue-neutral);
  z-index: 9;
}

.testimonials-main-top-left .testimonial-author .author-verified,
.testimonials-main-top-right .testimonial-author .author-verified,
.testimonials-main-bottom-right .testimonial-author .author-verified {
  color: var(--Light-gray-neutral);
}

.testimonials-main-top-left .testimonial-author .quote img {
  width: 110px;
  height: 130px;
  position: absolute;
  top: 0;
  right: 1.7rem;
}

.testimonials-main-top-left .testimonial-highlight,
.testimonials-main-top-right .testimonial-highlight,
.testimonials-main-bottom-right .testimonial-highlight {
  color: var(--Light-grayish-blue-neutral);
  font-size: 1.7rem;
  font-weight: var(--font-600);
  z-index: 9;
}

.testimonials-main-top-left .testimonial-description,
.testimonials-main-top-right .testimonial-description,
.testimonials-main-bottom-right .testimonial-description {
  color: var(--Light-gray-neutral);
  font-size: 1.2rem;
}

.testimonials-main-top-right {
  background: var(--Very-dark-grayish-blue);
}

.testimonials-main .testimonials-main-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main-bottom-left {
  background: var(--Light-grayish-blue-neutral);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.testimonials-main-bottom-left .testimonial-author .author-info,
.testimonial-side .testimonial-author .author-info {
  color: var(--Very-dark-grayish-blue);
}

.testimonials-main-bottom-left .testimonial-author .author-verified,
.testimonial-side .testimonial-author .author-verified {
  color: var(--Very-dark-grayish-blue);
}

.testimonials-main-bottom-left .testimonial-highlight,
.testimonial-side .testimonial-highlight {
  color: var(--Very-dark-grayish-blue);
  font-size: 1.7rem;
  font-weight: var(--font-600);
}

.testimonials-main-bottom-left .testimonial-description,
.testimonial-side .testimonial-description {
  color: var(--Very-dark-grayish-blue);
  font-size: 1.2rem;
}

.testimonials-main-bottom-right {
  background: var(--Very-dark-blackish-blue);
}

.testimonials-main-bottom-right .testimonial-author .author-avatar img {
  border: 2.5px solid var(--Moderate-violet);
}

/* side styles */
.testimonial-side {
  background: var(--Light-grayish-blue-neutral);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* footer styles */
.attribution {
  margin-block: 4rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* desktop responsive styles */
@media (min-width: 576px) {
  .testimonials-section-wrapper {
    margin-inline: auto;
    flex-direction: column;
  }

  .testimonials-main .testimonials-main-top,
  .testimonials-main .testimonials-main-bottom {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    margin-block: 40px;
  }

  .testimonials-section-wrapper {
    flex-direction: row;
  }

  .testimonials-main-top-left .testimonial-author .quote img {
    right: 5rem;
  }

  .testimonial-side {
    max-width: 300px;
  }
}
