/* All imports */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White-primary: hsl(0, 0%, 100%);
  --Light-gray-neutral: hsl(0, 0%, 81%);
  --Light-grayish-blue-neutral: hsl(210, 46%, 95%);
  --font-body: 13px;
  --font-500: 500;
  --font-600: 600;
}

html,
body {
  background: var(--Light-grayish-blue-neutral);
  font-size: var(--font-body);
  margin-block: 20px;
}

/* mobile styles */
.testimonials-section-wrapper {
  max-width: 1100px;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* === shared styles start === */
.card {
  border-radius: 0.5rem;
}

.testimonial-author {
  display: flex;
}
/* ==== shared styles end ==== */

.testimonials-section-wrapper .testimonials-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main .testimonials-main-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main-top-left {
  background: var(--Moderate-violet);
}

.testimonials-main-top-right {
  background: var(--Very-dark-grayish-blue);
}

.testimonials-main .testimonials-main-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonials-main-bottom-left {
  background: var(--Light-gray-neutral);
}

.testimonials-main-bottom-right {
  background: var(--Very-dark-blackish-blue);
}

/* side styles */
.testimonial-side {
  background: var(--Light-gray-neutral);
}

/* footer styles */
.attribution {
  margin-block: 4rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* desktop responsive styles */
@media (min-width: 768px) {
  .testimonials-section-wrapper {
    margin-inline: auto;
    flex-direction: row;
  }
}
